{% extends 'base.html' %}
{% block title %}
    Scrumptious Recipes
{% endblock title%}

{% block content%}
<header>
    <nav>
        <a class="nounderline" href="{% url 'recipe_list' %}">Main Page</a>
        <a class="nounderline" href="{% url 'edit_recipe' recipe_object.pk %}">Edit Recipe</a>
    </nav>
</header>

<main>
    <h1 class="h1">{{ recipe_object.title }} - Scrumptious Recipes</h1>
    <img src="{{ recipe_object.picture }}" width="200" height="200" alt="">
    <div>4.3 stars</div>
    <p>{{ recipe_object.description }}</p>
    <h2>Ingredients</h2>
    <table>
        <thead>
            <tr>
                <th>Amount</th>
                <th>Food Item</th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in recipe_object.ingredients.all %}
            <tr>
                <td>{{ ingredient.amount }}</td>
                <td>{{ ingredient.food_item }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Steps</h2>
    <ol>
        {% for step in recipe_object.steps.all %}
        <li>{{ step.instructions }}</li>
        {% endfor %}
    </ol>

</main>
{% endblock content %}
{%load static%}
