{% extends 'base.html' %}
{% block title %}
    Scrumptious Recipes
{% endblock title%}

{% block content%}
    <header>
        <nav>
            <a class="nounderline" href="{% url 'recipe_list' %}">Main Page </a>
            <a class="nounderline" href="{% url 'create_recipe' %}">Create a recipe</a>

            {% if user.is_authenticated %}
                Hello, {{ user.username }}!
                <a class="nounderline" href="{% url 'user_logout' %}">Log out</a>
            {% else %}
                <a class="nounderline" href="{% url 'signup' %}">Sign up</a>
                <a class="nounderline" href="{% url 'login' %}">Log in</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <h1 class="h1"> Scrumptious Recipes</h1>
        <h2>All the food that's fit to eat</h2>
            <div id="id">
                {% for recipe in recipe_list %}
                <div>
                    <h3>
                    <a class="adecoration" href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                    <h5><p>{{recipe.created_on|date:"M dS"  }}</p></h5>
                    </h3>

                    <img id="imagesize" src="{{ recipe.picture }}">
                    <div>4.3 stars</div>
                </div>
                {% endfor %}
            </div>
    </main>
{% endblock content %}
{%load static%}
