


body {
    padding: 0px;
    margin: 0px;
}

main {
    padding: 16px;
}

.h1{
    color: #348888;
}

footer {
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #22BABB;
}

nav {
    color: black;
    border-bottom: 1px solid #22BABB;
    padding: 16px;
    background-color: #9EF8EE;;
}

#imagesize {
    width: 200px;
    height: 200px;
}

div {
    margin: 10px;
}

.adecoration {
    text-decoration: none;
    color: #F24405;

}

.nounderline{
    text-decoration: none;
    margin: 5px;
}


#id{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: auto;

}

tr:nth-child(even) {
    background-color: #9EF8EE;
}
